<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyy.guohe2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="ratio_float" />

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.KbActivity" />
        <activity android:name=".activity.CropViewActivity" />
        <activity android:name=".activity.BrowserActivity" />
        <activity
            android:name=".activity.UsActivity"
            android:label="@string/about_us"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.ClassRoomActivity" />
        <activity android:name=".activity.LibraryActivity" />
        <activity android:name=".activity.BookList" />
        <activity android:name=".activity.BookDetail" />
        <activity android:name=".activity.SportActivity"></activity>
    </application>

</manifest>